<%- include("../includes/header.ejs"); %>
  <main>
    <div class="container">
      <div class="py-5 text-center">
        <p class="lead">Please give us your valuable review.</p>
      </div>
      <form method="POST" action="/listings/<%=ID%>/reviews/<%=data._id%>?_method=PUT">
        <fieldset class="starability-slot">
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked
            aria-label="No rating." />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="input-group">
          <span class="input-group-text">Comment</span>
          <textarea name="comment" class="form-control" aria-label="With textarea"
            required><%= data.comment %></textarea>
        </div>

        <button class="btn btn-danger my-2 specialClass">Submit</button>
      </form>
    </div>
  </main>
<%- include("../includes/footer.ejs"); %>